.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  max-height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chartContainer {
  min-height: 500px !important;
  height: 200px;
}

select {
  width: 100px;
}
.selectContainer {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
